<h1>Edit product: </h1>
<% if @product.errors.any? %>
<ul>
  <% @product.errors.full_messages.each do |msg| %>
   <li><%= msg %>
 <% end %>
</ul>
<% end %>
<%= form_for @product do |f| %>
 <%# If you do not pass any option for f.submit it will:
   1. If @question is not persisted it will make the button label "Create
      [object Class]"
   2. If @question is persisted it will make the button label "Update
      [object Class]"
    %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
 <%= f.submit %>
<% end %>
